snowflake:
  account: HUBBXYZ-XA96647
  user: ""
  password: ""
  role: SYSADMIN
  warehouse: COMPUTE_WH
  database: PROD_DB
  target_schema: CORTEX_CHAT_APP
  source_schema: RAW_LAYER

oracle:
  dsn: ""
  user: ""
  password: ""

migration:
  proc_prefix: SP_
  audit_table: PROD_DB.CORTEX_CHAT_APP.MIGRATION_AUDIT_LOG
  error_table: PROD_DB.CORTEX_CHAT_APP.MIGRATION_ERROR_LOG
  column_renames: {}   # informatica_target_col: snowflake_col
